@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed&display=swap');

*{
    font-family: 'Roboto Condensed', sans-serif;  
}

body{
    margin: 0;
    padding: 0;
    background-image: url('BG.png');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: 100% 100%;
    }

hr { 
    display: block;
    margin-top: 1em;
    margin-bottom: 0.5em;
    margin-left: auto;
    margin-right: auto;
    border-style: inset;
    border-width: 2px;
    } 

.nav ul{
    list-style-type: none;
    background-color: dimgray;
    text-align: center;
    padding: 0;
    margin: 0;
}
.nav li{
    font-size: 1.2em;
    line-height: 40px;
    text-align: center;
}
.nav a{
    text-decoration: none;
    color: mintcream;
    display: block;
    padding-left: 15px;
    border-bottom: 1px solid mintcream;
    transition: .3s;
}
.nav a:hover{
    background-color: darkcyan;

}
.nav li li{
    font-size: .8em;
}
@media screen and (min-width: 650px) {
    .nav li{
        width: 150px;
        border-bottom: none;
        height: 50px;
        line-height: 50px;
        font-size: 1.4em;
        display: inline-block;
        margin-right: -4px;
    }
    .nav a{
        border-bottom: none;
    }
    .nav > url > li{
        text-align: center;
    }
    .nav > url > li > a{
        padding-left: 0;
    }

}